# compiled objects
*.o
*.d
release/*
debug/*
include/*

# alliance debugger
.alliance_debugger

# Build folders for by cmake
build_debug/*
build_release/*

# doxygen + breathe + sphinx documentation
docs/build/*
docs/source/Doxyfile

# externals packages
*.zip