# compiled objects
*.o
*.d
release/*
debug/*

# doxygen + breathe + sphinx documentation
docs/build/*
docs/source/Doxyfile

# tinyxml2 library
externals/xml/docs/*
externals/xml/lib/*

# externals packages
*.zip